<footer>
  <div class="container">
    <div style="display:flex; justify-content:space-between; align-items:center;">
      <div class="social-icons">
        <a href="https://github.com/huongntn" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/nguyen-huong" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
      <nav class="legal-nav">
        <a href="{{ '/impress' | relative_url }}">Imprint</a>
        <a href="{{ '/privacy/' | relative_url }}">Privacy Policy</a>
      </nav>
    </div>
    <div style="margin-top:2rem; font-size: 0.8rem; color: var(--text-light);">&copy; 2026 Thi Ngoc Huong Nguyen</div>
  </div>
</footer>
