<header>
  <div class="container nav-wrapper">
    <div class="header-left-group">
      <a href="{{ '/' | relative_url }}" class="logo">
        <img src="{{ 'assets/photos/favicon.svg' | relative_url }}" alt="logo" style="height: 40px; width: auto;">
      </a>

      <div class="social-icons">
        <a href="https://www.linkedin.com/in/nguyen-huong" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://github.com/huongntn" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="{{ '/assets/files/resume.pdf' | relative_url }}" target="_blank" title="Resume"><i class="fa-solid fa-user-tie"></i></a>
      </div>
    </div>
    
    <div class="burger-menu" onclick="toggleMenu()" id="menu-icon">
      ☰
    </div>
    
    <nav class="nav-links">
      <a href="{{ '/about/' | relative_url }}">About</a>
      <a href="{{ '/#toolshed' | relative_url }}">Experience</a>
      <a href="{{ '/#workshop' | relative_url }}">Insights</a>
      <a href="{{ '/#studio' | relative_url }}">Blogs</a>
    </nav>
  </div>
</header>

<script>
  function toggleMenu() {
  const navLinks = document.querySelector('.nav-links');
  const menuIcon = document.getElementById('menu-icon');
  
  navLinks.classList.toggle('active');
  
  // Toggle icon between ☰ and ✕
  if (navLinks.classList.contains('active')) {
    menuIcon.innerHTML = '✕';
  } else {
    menuIcon.innerHTML = '☰';
  }
}
</script>
