<header>
  <div class="container nav-wrapper">
    <a href="{{ '/' | relative_url }}" class="logo">
      <img src="{{ 'assets/photos/favicon.svg' | relative_url }}" alt="logo" style="height: 40px; width: auto;">
    </a>
    
    <div class="burger-menu" onclick="toggleMenu()" id="menu-icon">
      ☰
    </div>
    
    <nav class="nav-links">
      <a href="{{ '/about/' | relative_url }}">About</a>
      <a href="{{ '/#toolshed' | relative_url }}">Experience</a>
      <a href="{{ '/#workshop' | relative_url }}">Insights</a>
      <a href="{{ '/#studio' | relative_url }}">Blogs</a>
      <a href="{{ '/assets/files/resume.pdf' | relative_url }}" target="_blank" rel="noopener noreferrer">Resume</a>
    </nav>
  </div>
</header>

<script>
  function toggleMenu() {
  const navLinks = document.querySelector('.nav-links');
  const menuIcon = document.getElementById('menu-icon');
  
  navLinks.classList.toggle('active');
  
  // Toggle icon between ☰ and ✕
  if (navLinks.classList.contains('active')) {
    menuIcon.innerHTML = '✕';
  } else {
    menuIcon.innerHTML = '☰';
  }
}
</script>
