---
layout: default
---
<div class="container">
  <article class="research-article">
    <div class="about-header">
      <h1>{{ page.title }}</h1>
    </div>
    
    <hr> 

    <div class="article-meta">
    <p>
      <span class="date">{{ page.date | date: "%B %d, %Y" }}</span> 
      {% if page.authors %} • <span>{{ page.authors }}</span>{% endif %}
    </p>
    </div>
    
    <div class="content">
      {{ content }}
    </div>

    <hr> 

    {% if page.full_paper_url %}
      <div class="footer-navigation">
        <a href="{{ page.full_paper_url }}" class="archive-link" target="_blank" rel="noopener noreferrer">
          Read the full paper <span class="arrow">→</span>
        </a>
      </div>
    {% endif %}
  </article>
</div>
